<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.dao.IoItemDao">
    <resultMap type="com.by.entity.IoItem" id="IoItemMap">
        <result property="id" column="id" />
        <result property="ioId" column="ioId" />
        <result property="productId" column="productId" />
        <result property="productName" column="productName" />
        <result property="qty" column="qty" />
        <result property="shelfId" column="shelfId" />
        <result property="productionDate" column="productionDate" />
        <result property="shelfLife" column="shelfLife" />
        <result property="expiryDate" column="expiryDate" />
        <result property="brief" column="brief" />
        <result property="lastUpdateBy" column="lastUpdateBy" />
        <result property="lastUpdateTime" column="lastUpdateTime" />
    </resultMap>
    
    
    <!--通用查询-->
    <select id="select" resultMap="IoItemMap">
        select
            id,ioId,productId,productName,qty,shelfId,productionDate,shelfLife,expiryDate,brief,lastUpdateBy,lastUpdateTime
        from `io_item`
        <where>
            <if test="ioId != null and ioId != ''">
                and ioId = #{ioId}
            </if>
        </where>
    </select>
    
    <!--新增数据-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into io_item(id,ioId,productId,productName,qty,shelfId,productionDate,shelfLife,expiryDate,brief,lastUpdateBy)
        values (#{id},#{ioId},#{productId},#{productName},#{qty},#{shelfId},#{productionDate},#{shelfLife},#{expiryDate},#{brief},#{lastUpdateBy})
    </insert>
    
    <!-- 批量新增数据 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into io_item(ioId,productId,productName,qty,shelfId,productionDate,shelfLife,expiryDate,brief,lastUpdateBy)
        values
        <foreach collection="ioItems" item="entity" separator=",">
            (#{entity.ioId},#{entity.productId},#{entity.productName},#{entity.qty},#{entity.shelfId},#{entity.productionDate},#{entity.shelfLife},#{entity.expiryDate},#{entity.brief},#{entity.lastUpdateBy})
        </foreach>
    </insert>
    
    <!-- 更新数据 -->
    <update id="update">
        update io_item
        <set>
            <if test="id != null and id != ''">
                id = #{id},
            </if>
            <if test="ioId != null and ioId != ''">
                ioId = #{ioId},
            </if>
            <if test="productId != null and productId != ''">
                productId = #{productId},
            </if>
            <if test="productName != null and productName != ''">
                productName = #{productName},
            </if>
            <if test="qty != null and qty != ''">
                qty = #{qty},
            </if>
            <if test="shelfId != null and shelfId != ''">
                shelfId = #{shelfId},
            </if>
            <if test="productionDate != null and productionDate != ''">
                productionDate = #{productionDate},
            </if>
            <if test="shelfLife != null and shelfLife != ''">
                shelfLife = #{shelfLife},
            </if>
            <if test="expiryDate != null and expiryDate != ''">
                expiryDate = #{expiryDate},
            </if>
            <if test="brief != null and brief != ''">
                brief = #{brief},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                lastUpdateBy = #{lastUpdateBy},
            </if>
            <if test="lastUpdateTime != null and lastUpdateTime != ''">
                lastUpdateTime = #{lastUpdateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--通过主键软删除-->
    <update id="delete">
        update  io_item set status = 0 where id = #{id}
    </update>
</mapper>